<?xml version="1.0" encoding="UTF-8"?>

<?ifndef var.IsPreview ?>
  <?define IsPreview = False?>
<?endif?>

<?if $(var.MANUFACTURER) = "" ?>
	<?define MANUFACTURER = "Microsoft Corporation"?>
<?endif?>

<?if $(var.SOURCEDIR) = "" ?>
  <?error Variable SOURCEDIR not set?>
<?endif?>

<?if $(var.VERSION) = "" ?>
  <?error Variable VERSION not set?>
<?endif?>

<?if $(sys.BUILDARCH)="x86" ?>
  <?define PROGRAMFILESFOLDER="ProgramFilesFolder"?>
<?elseif $(sys.BUILDARCH)="x64" ?>
  <?define PROGRAMFILESFOLDER="ProgramFiles64Folder"?>
<?else?>
  <?error Unsupported value of sys.BUILDARCH=$(sys.BUILDARCH)?>
<?endif?>

<?if $(sys.BUILDARCH)=x64?>
  <?define UpgradeCodePreview = "5a388d64-a109-4d85-bddc-7f46e1e1e520"?>
  <?define UpgradeCodeRelease = "c7a00fb1-c477-40d3-a951-ec4c749da439"?>
  <?if $(var.IsPreview)=True?>
    <?define UpgradeCode = $(var.UpgradeCodePreview)?>
  <?else?>
    <?define UpgradeCode = $(var.UpgradeCodeRelease)?>
  <?endif?>
<?else?>
  <?define UpgradeCodePreview = "271d2cdd-3c91-423f-b4e8-9c711a9e8ab1"?>
  <?define UpgradeCodeRelease = "dd240959-6051-4108-9c7f-c409dca2b65e"?>
  <?if $(var.IsPreview)=True?>
    <?define UpgradeCode = $(var.UpgradeCodePreview)?>
  <?else?>
    <?define UpgradeCode = $(var.UpgradeCodeRelease)?>
  <?endif?>
<?endif?>

<?if $(var.PRODUCTID) = "" ?>
  <?warning PRODUCTID not passed as variable. Generating new one during build.?>
  <?define PRODUCTID = "*" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define MinOSVersionSupported = "VersionNT >= 601" ?>

	<Product
    Id="$(var.PRODUCTID)"
    Name="OpenSSH ($(var.CONFIGURATION) $(var.VERSION))"
    Language="1033"
    Version="$(var.VERSION)"
    Manufacturer="$(var.MANUFACTURER)"
    UpgradeCode="$(var.UpgradeCode)">

		<Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine"
      InstallPrivileges="elevated"
      />

    <Property Id="LOGVERBOSE" Value="LOGVERBOSE"/>

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<MediaTemplate EmbedCab="yes" />

    <UI>
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
      <UIRef Id="WixUI_FeatureTree_NoLicense" />
    </UI>

    <!-- Prerequisites -->
    <Condition Message="Supported only on Windows 7 and above">
      <![CDATA[ Installed OR $(var.MinOSVersionSupported) ]]>
    </Condition>

    <CustomAction Id="CA_SSHAGENT_PRIVS" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="yes" Return="check" ExeCommand="sc.exe privs ssh-agent SeImpersonatePrivilege" />
    <CustomAction Id="CA_SSHD_PRIVS" Directory="INSTALLFOLDER" Execute="deferred" Impersonate="yes" Return="check" ExeCommand="sc.exe privs sshd SeAssignPrimaryTokenPrivilege/SeTcbPrivilege/SeBackupPrivilege/SeRestorePrivilege/SeImpersonatePrivilege" />

    <InstallExecuteSequence>
      <!--https://www.itninja.com/blog/view/appdeploy-articles-msi-advanced-custom-actions?from=appdeploy.com-->
      <Custom Action="CA_SSHAGENT_PRIVS" After="InstallServices"><![CDATA[&Server=3]]></Custom>
      <Custom Action="CA_SSHD_PRIVS" After="InstallServices"><![CDATA[&Server=3]]></Custom>
    </InstallExecuteSequence>
    <!--
    How to enable and disable features refer to
    https://support.firegiant.com/hc/en-us/articles/230912227-Control-feature-states-for-silent-install-
    -->
    <Feature Id="ProductFeature" Title="OpenSSH" Level="1" Display="expand" AllowAdvertise="no">
			<ComponentGroupRef Id="CG_Main" />
      <ComponentGroupRef Id="CG_Main_Symbols"/>
      <Feature Id="Client" Title="Client programs" Level="1" Absent="allow" AllowAdvertise="no">
        <Condition Level="10000">DISABLE_CLIENT</Condition>
        <ComponentGroupRef Id="CG_Client" />
        <Feature Id="ClientSymbols" Title="Client programs symbols" Level="2" Absent="allow" AllowAdvertise="no">
          <ComponentGroupRef Id="CG_Client_Symbols"/>
        </Feature>
      </Feature>
      <Feature Id="Server" Title="Server programs" Level="2" Absent="allow" AllowAdvertise="no">
        <ComponentGroupRef Id="CG_Server" />
        <Feature Id="PurgeSSHData" InstallDefault="followParent" Display="hidden" AllowAdvertise="no" Absent="disallow">
          <ComponentRef Id="cmp_purge_ssh_logs" />
          <ComponentRef Id="cmp_purge_ssh_config" />
        </Feature>
        <Feature Id="ServerFirewall" Title="Enable SSH Firewall exception" Level="2" Absent="allow" AllowAdvertise="no">
          <ComponentGroupRef Id="CG_Server_Firewall"/>
        </Feature>
        <Feature Id="ServerSymbols" Title="Server programs symbols" Level="2" Absent="allow" AllowAdvertise="no">
          <ComponentGroupRef Id="CG_Server_Symbols"/>
        </Feature>
      </Feature>
      <Feature Id="Scripts" Title="Management scripts" Level="2" Absent="allow" AllowAdvertise="no">
        <ComponentGroupRef Id="CG_Scripts" />
      </Feature>
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PROGRAMFILESFOLDER)">
  			<Directory Id="INSTALLFOLDER" Name="OpenSSH" />
			</Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="SSHDFOLDER" Name="ssh">
          <Directory Id="SSHDLOGFOLDER" Name="logs">
            <Component Id="cmp_purge_ssh_logs" Guid="2311dc7e-0580-4c35-9acf-9cc381e6a90e">
              <RemoveFile Id="RemoveLogFiles" Name="*" On="uninstall"/>
              <RemoveFolder Id="RemoveLogsFolder" On="uninstall"/>
            </Component>
          </Directory>
          <Component Id="cmp_purge_ssh_config" Guid="a2a04863-6287-4650-bc48-ed857d86c23d">
            <RemoveFile Id="RemoveSshFiles" Name="*" On="uninstall"/>
            <RemoveFolder Id="RemoveSshFolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
	</Fragment>

</Wix>
